body{
   margin: 0;
   padding: 0;
   font-family: SourceSansPro,Arial,sans-serif;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3633A1;
    height: 50px;
    
    
}
.promo{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.0rem;
    

}
button{
    background-color: white;
}
 .info p{
    margin-right: 10px;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    padding-left: 5px;
    padding-bottom: 20px;
    border-radius: 2px ;
}
.savings{
    font-size: 1.2rem;
    color: #fff;
    margin-left: 10px;

}
.sale{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 700;
    
}

span{
    color: #fff;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}
/** Second div **/
.pannelall{
    height: 40px;
    width: 100%;
    display: flex;
    padding-top: 5px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid #e5e5e5;
    margin-bottom: 10px;
}
 .pannel{
    width: 70%;
    color:#5953b8;
    font-weight: 700;
    font-size: 1.2rem;

 }
 .pannel i{
    font-size: 1.2rem;
    color: black;
    text-decoration: underline;
    padding-right: 10px;
}
.pannel a{
    
    text-decoration: none;
    padding:5px 5px 5px 5px;
    color:#544747;
    text-decoration: underline;
}
.pannel2{
    color: #db3d86;
    font-weight: 700;
    font-size: 1.2rem;
}
.pannel2 a{
    color: #666666;
    font-weight: 200;
    font-size: 1rem;
    padding-left: 5px;
}
.pannel3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
    width: 100%;
    margin-top: 50px;
   
   
    
}
.logo {
    
    height: 45px;
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
   color: #db3d86;
   width: 60%;
   justify-content: end;
   padding:0;
   margin-top: 15px;

}
.image{
    width: 50%;
    
}
button{
    border: none;
    text-decoration: none;
    
}
.logo1{
    width: 50%;
}
.logo1 input{
    
    font-size: 1.1rem;
    width: 80%;
    border: none;
    outline: none;padding-left: 5px;
}
.logo1 i{
    font-size: 1.2rem;
    padding-left: 10px;
    color:#5953b8 ;
    width: 15%;
    display: flex;
    justify-content: center;
    
    
}
.logo1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    width: 25%;
    border: 2px solid black;
    height: 45px;
    
}
.bag1{
    visibility: hidden;
}

.bag i{
    font-size: 2.6rem;
    height: 60px;
    margin-top: 15px;
    padding-top: 10px;
    padding-right: 20px;
    color: #3633A1;
    width: 20%;
    margin-right: 0;
}
.bag a{
    width: 20%;
    padding-right: 10px;
}
.option2{
    visibility: hidden;
}
.option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    border-bottom: 5px solid #e5e5e5;
    height: 60px;
}
.option a{
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.2rem;
    padding-right: 60px;
    margin-bottom: 10px ;
    
}
.allsale:hover{
    color: red;
}
.allsale:visited{
    color: #e81111;
}
.poster{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.post{
    height: 750px;
    width: 85%;
}
.promo1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.promo1 a{
    font-size: 1.2rem;
    color: #000;
}
.promo2{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   

}
.promo2 a{
    font-size: 1.4rem;
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    border: 2PX solid #000;
    background-color: #1A1A1A;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.card1{
    width:12%;
    height: 25%;
    padding-left: 5px;
}
.card2{
    width:12%;
    height: 25%;
}
.card3{
    width:12%;
    height:25%;
}
.card4{
    width:12%;
    height:25%;
}
.card5{
    width:12%;
    height:25%;
}
.card6{
    width: 12%;
    height: 25%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #000;
    font-weight: 750;
    font-size: 1.8rem;
}
.shop{
    display:block;
    width: 20%;
    padding-top: 60px;
    
  
}
.Sh{
    color: white;
}
.shops{
    height: 300px;
    margin-left: 40px;
    padding-bottom: 20px;
    
}
.para1{
    color:#1A1A1A;
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 40px;
    margin-left: 20px;
    padding-bottom: 10px;
}
.para2{
    color:#666666;
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 40px;
    margin-left: 20px;
    height: 0.5px;
}

.all-patt{
display: flex;
overflow: auto;
white-space: nowrap;

}
.para1{
    color:#1A1A1A;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 40px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.Tag1{
    color: #1A1A1A;
    font-size: 1.3rem;
    font-weight: 700;
    height: 0.5px;
    
}
.para3{
    color:#666666;
    font-size: 1.3rem;
    font-weight: 400;
    height: 0.5px;
}
.price1{
    color: #db3d86;
    font-size: 1.2rem;
    font-weight: 700;
   
    height: 10px;
}
.Tags1{
    color: #1A1A1A;
    font-size: 1.3rem;
    font-weight: 700;
    
    height: 0.5px;
    text-decoration:line-through;
}
.Tags{
        color: #1A1A1A;
        font-size: 1.3rem;
        font-weight: 700;
        height: 0.5px;
    
}
.cart2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #e5e5e5;
    background-color: #000;
    height: 50px;
    width: 200px;
    font-size: 1.3rem;
    font-weight: 600;
}
.poster{
    margin-top: 100px;
}
.poster1{
    width: 70%;
    height: 700px;
}
.classes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}
.class1 a{
    color: #000;
    font-size: 1.3rem;
    
}
.img1{
    width: 190px;
    height: 180px;
    
}
.img2{
    width: 190px;
    height: 180px;
}
.img3{
    width: 190px;
    height: 180px
}
.img4{
    width: 190px;
    height: 180px
}
.img5{
    width: 190px;
    height: 180px
}
.img6{
    width: 190px;
    height: 180px;
}
.link{
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 10px;
    padding-top: 20px;
    width: 100%;
   
}
.link a{
    font-weight: 400;
    font-size: 1.6rem;
    color:#1A1A1A;
    padding-left: 40px;
    
}
.point{
    margin-top: 50px;
    padding-top: 20px;
    height: 0.5px;
    font-size: 1.4rem;
    
}
.point p{
    color: #000;
    align-items: center;
    margin-left: 31%;
    height: 0.2px;
    font-size: 1.9rem;
}
.text2{
    padding-left: 15%;
    height: 0.5px;
}
.text3 {
    font-size: 1.4rem;
    height: 0.5px;
    color: #544747;
    margin-left: 32%;
    font-weight: 100;
}
.text4 {
    font-size: 1.5rem;
    height: 0.5px;
    color: #544747;
    margin-left: 46%;
    font-weight: 100;
}
.learn
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.learn a{
    font-size: 1.4rem;
    color:#000;
    font-weight: 700;
    text-decoration: none;
    border: 2PX solid #000;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
    
}
.image1{
    margin-top: 17%;
    width: 100%;
    text-align: center;
    
}
.image2{
    height: auto;
    width: 800px;
}
.more{
    margin-left: 40%;
    padding-top: 40px;   
    font-size: 1.8rem;
}
.pic{
    display: flex;
    justify-content: space-evenly;
}
.pic1{
    width: 170px;
    height: 170px;
}
.pic2{
    width: 170px;
    height: 170px;
}
.pic3{
    width: 170px;
    height: 170px;
}
.pic4{
    width: 170px;
    height: 170px;
}
.pic5{
    width: 170px;
    height: 170px;
}
.pic6{
    width: 170px;
    height: 170px;
}
.content{
    margin:0;
    height: 10%;
    font-size: 1.3rem;
    font-weight: 100;
    padding-top: 20px;
    text-align: center;


}
.content h4 {
    height: 2px;   
    font-weight: 200;
    color: #544747;
}
.content h4 a{
    color: #544747;
}
.del,.del1,.del2,.del3,.del4,.del5,.del6,.del7{
    height: 1px;
}
.del6 a,.del7 a{
    color: #544747;
}
.content2{
    margin-top: 5%;
    height: 10%;
    font-size: 1.3rem;
    font-weight: 100;
    text-align: center;
}
.cont8{
    padding-bottom: 20px;
}
.fotter p{
    color: #544747;
    font-size: 1.3rem;
    padding-top: 20px;
    font-weight: 200;
}
.main{
    border-bottom:5px solid #e5e5e5;
}
.fotter{
    display: flex;
    justify-content: space-evenly;
}
.f{
    background-color: #e5e5e5;
    height: 200px;
    padding-top: 20px;
}
.fotter2{
    display: inline;
    justify-content: center;
    font-size: 1.2rem;
    padding-left: 6%;
}
.fotter2 a{
    text-decoration: none;
    color: #544747;
}
.fotter3{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 10px;
}
.fotter3 a{
    text-decoration: none;
    color: #544747;
    
}
.fotter4{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 2%;
}
.fotter4 h4{
    
    text-decoration: none;
    color: #544747;
}
.foot p{
    color: #544747;
    font-size: 1.3rem;
    padding-right: 2%;
}
.foot h3{
    font-size: 1.4rem;
    color: #544747;
}

.foot1 a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #544747;
}
.foot2 a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #544747;
}
.foot3 a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #544747;
}
.foot4 a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #544747;
}
.foot input{
    width: 300px;
    height: 30px;
}
.popup-link{
    border: 2px solid #000;
    width: 200px;
    height:30px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #000;
    text-decoration: none;
}
.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.overlay:target {
    visibility: visible;
}
.popup {
    position: relative;
    margin: 170px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.popup-close {
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.popup p{
    text-align: justify;
    line-height: 1.5;
    font-size: medium;
}

.foot i{
    font-size: 1.9rem;
    padding-right: 20px;
    padding-bottom: 10px;
}
@media  (max-width:900px ) {
    header, header.stickyOn {
    border: none !important;
    z-index: 111 !important;
}
    body{
        overflow-x: hidden;
        max-width: 100%;
    }
    
    .head{
        margin-top: 0;
        padding: 0;
        width: 100%;
        margin-left:5px;
        overflow-x: hidden;
        font-size: 1rem;
        height: 350px;
    }
    
   .info{
    display:inline-block;
    height: 70px;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    align-self: center;

   }
   .info a{
    display: inline;
    color: #fff;
    font-size: 1rem;
   }
   span{
    font-size: 1rem;
   }
   .sale{
    font-size: 1.1rem;
   }
   .savings{
    display: inline;
    font-size: 1.2rem;
   }
   .info a{
    font-size: 1.2rem;
   }
   .info p{

    font-size: 2rem;
    color:#fff;
    font-weight: 700;
display: inline;
font-size: 1rem;
   }
   .pannelall{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    height: 60px;
   }
   .pannel{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 900;
    height: 20px;
    
   }
   .pannel2{
    display: none;
   }
   .pannel3{
   display: inline-block;
   height: 30px;
   margin: 0;
   padding: 0;
   width: 100%;
   margin-top: 10px;
   text-align: center;

   }
   .logo{
    padding: 0;
    margin: 0;
    display: inline;
   }
   .image{
    width: 80%;
    text-align: center;
   }
   
   .bag1{
    visibility: visible;
    margin-left: 3px;
    width: 10%;
   }
   .bag1 i{
    font-size: 2rem;
   }
   .bag1 a{
    text-decoration: none;
   }
   .bag{
    display: none;
    height: 0%;
    width: 0%;
   }
   .bag a{
    display: none;
    height: 0%;
    width: 0%;
   }
   .logo1{
    width: 85%;
    margin-left: 28px;
    margin-top: 10%;

   }
   
   .option{
    overflow: auto;
    width: 100%;
   margin: 0;
   margin-left: 10px;
    margin-top: 0;
   }
   
   .option a{
    font-size: 20px;
    
   }
   .post{
    width: 90%;
    height: 300px;
    text-align: center;
   }
   .promo1{
    height: 20px;
    padding-bottom: 10px;
    font-size: 0.8rem;
   }
   .promo2{
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    height: 5px;
   }
   button{
    background-color:#fff;
   }
   .card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
   }
   .card1{
    display: inline;
    width: 35%;
    padding-bottom: 10px;
   }
   .card2{
    display: inline;
    width: 35%;
    padding-bottom: 10px;
   }
   .card3{
    display: inline;
    width: 35%;
    padding-bottom: 10px;
   }
   .card4{
    display: inline;
    width: 35%;
    padding-bottom: 10px;
   }
   .card5{
    display: inline;
    width: 35%;
    padding-bottom: 10px;
   }
   .card6{
    display: inline;
    width: 35%;
    padding-bottom: 10px;
   }
   .text{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
   }
  
   .poster{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    margin-left: 0;
   }
   .poster1{
    width: 80%;
    height: 400px;
    text-align: center;
   }
   .classes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
   }
   .img1{
    display: inline;
    width: 35%;
    height: auto;
    padding-bottom: 10px;
   }
   .img2{
    display: inline;
    width: 35%;
    height: auto;
    padding-bottom: 10px;
   }
   .img3{
    display: inline;
    width: 35%;
    height: auto;
    padding-bottom: 10px;
   }
   .img4{
    display: inline;
    width: 35%;
    height: auto;
    padding-bottom: 10px;
   }
   .img5{
    display: inline;
    width: 35%;
    height: auto;
    padding-bottom: 10px;
    
   }
   .img6{
    display: inline;
    width: 35%;
    height: auto;
    padding-bottom: 10px;
   }
   .link{
    display: none;
   }
   .point{
    display: inline-block;
    width: 100%;
    font-size: 0.4rem;
    margin: 0%;
    padding: 0%;
   }
   .text1 {
    display: inline-block;
    width: 97%;
    text-align: center;
   }
   .point p{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
   }
   .text2{
    display: inline-block;
    width: 65%;
    text-align: center;
    padding-top: 10px;
   }
   .text3{
    display: inline-block;
    margin: 0;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
   }
   .text4{
    display: inline-block;
    margin: 0;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
   }
   .learn{
    display: inline-block;
    margin-left: 100px;
   }
   .learn a{
    font-size: 15px;
    font-weight: 700;
    width: 170px;
    height: 30px;
    text-align: center;
   }
  .image1{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .image2{
    width: 90%;
    height: auto;
    padding-top:40px;
  }
  .more{
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 0;
    text-align: center;
    padding-top: 0;
    width: 100%;
  }
  .pic{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .pic1{
    display: inline;
    width: 40%;
    height: auto;
    padding-bottom: 10px;
  }
  .pic2{
    display: inline;
    width: 40%;
    height: auto;
    padding-bottom: 10px;
  }
  .pic3{
    display: inline;
    width: 40%;
    height: auto;
    padding-bottom: 10px;
  }
  .pic4{
    display: inline;
    width: 40%;
    height: auto;
    padding-bottom: 10px;
  }
  .pic5{
    display: inline;
    width: 40%;
    height: auto;
    padding-bottom: 10px;
  }
  .pic6{
    display: inline;
    width: 40%;
    height: auto;
    padding-bottom: 10px;
  }
  .content{
    display: inline-block;
    width: 90%;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-size: 0.9rem;
    padding-left: 10px;
    align-items: center;
    font-weight: 800;
  }
  .cont{
    display: inline;
    padding-left: 20px;
    text-align: center;
    width: 90%;
  }
  .del,.del1,.del2,.del3,.del4{
    display: inline;
    text-align: center;
    padding-left: 10px;
    width: 90%;
    font-weight: 700;
  }
  .del6,.del7,.del5{
    visibility: hidden;
 }
 .content2{
    display: inline-block;
    width: 90%;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    font-size: 0.9rem;
    font-weight: 800;
 }
 .cont1, .cont2, .cont3,.cont4,.cont5{
    display: inline;
    text-align: center;
    padding-left: 10px;
 }
 .cont6, .cont7,.cont8{
    visibility: hidden;
 }
 .main{
    margin: 0;
    padding: 0;
 }
  .fotter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0;
    padding-top: 0;
    
  }
  .foot{
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 1rem;
  }
  
  .foot p{
    font-size: 1.3rem;
    font-weight: 600;
  }
  .foot ::placeholder{
    text-align: center;
    display: inline-block;
  }
  .foot h4{
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    padding-top: 5px;
  }
  .foot1 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
  .foot1 a{
    font-size: 1.1rem;
    font-weight: 800;
  }
  .foot1 p{
       font-size: 1rem;
       font-weight: 600;
  }
  .foot2{
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
  .foot2 p{
       font-size: 1rem;
       font-weight: 600;
  }
  .foot2 a{
    font-size: 1.1rem;
    font-weight: 800;
  }
  .foot3{
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
  .foot3 p{
       font-size: 1rem;
       font-weight: 600;
  }
  .foot3 a{
    font-size: 1.1rem;
    font-weight: 800;
  }
  .foot4{
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
  .foot4 p{
       font-size: 1rem;
       font-weight: 600;
  }
  .foot4 a{
    font-size: 1.1rem;
    font-weight: 800;
  }
  .f{
    display: inline-block;
    height: 0%;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .state{
    visibility: hidden;
  }
  .share{
    visibility: hidden;
  }
  .term{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    width: 100%;

  }
  .fotter2{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .fotter2 a{
    font-size: 20px;
    font-weight: 700;
  }
  .fotter3{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    font-size: 20px;
    font-weight: 700;
    margin-left: 0;
    margin-top: 0;
    width: 90%;
    text-align: center;
    width: 100%;
  }
  .fotter4{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .shop{
    display:block;
    width: 100%;
    padding-top: 40px;  
    height: 550px;
}
.shops{
    height: 250px;
    margin-left: 20px;
    padding-bottom: 0;
}

.para1{
    color:#1A1A1A;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 40px;
     height: 25px;
}

.price{
    color: #db3d86;
    font-size: 1.5rem;
    font-weight: 700; 
    height: 20px;
}
.Tags{
    color: #1A1A1A;
    font-size: 1.5rem;
    font-weight: 700;
    height: 20px;
 
}
.all-patt{
display: flex;
overflow: auto;
white-space: nowrap;
height: auto;
width: 100%;

}
.para1{
    color:#1A1A1A;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 40px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.Tag1{
    color: #1A1A1A;
    font-size: 1.5rem;
    font-weight: 700;
    height: 20px;
    
}
.para3{
    color:#666666;
    font-size: 1.4rem;
    font-weight: 600;
    height: 10px;
}
.price1{
    color: #db3d86;
    font-size: 1.4rem;
    font-weight: 700; 
    height: 20px;
}
.Tags1{
    color: #1A1A1A;
    font-size: 1.5rem;
    font-weight: 700;
    height: 20px;
    text-decoration:line-through;
}
.cart{
    height: 40px;
    width: 150px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
}  
.cart2{
    height: 40px;
    width: 150px;
    font-size: 1.2rem;
    font-weight: 400;
}
.popup-link{
    border: 2px solid #000;
    width: 100px;
    height:40px;
    font-size: 1.3rem;
    font-weight: 300;
    margin-left: 35%;
}
.popup {
    position: relative;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: auto;
}
.popup-header{
    margin-bottom: 0;
}
.popup-close {
    font-size: 60px;
    font-weight: 600;
}
.foot input{
    width: 160px;
    border: 1px solid black;
}
}
